.article-card {

    .author-title {}

    .author-card {

        .author-card-content {

            div {
                margin-top: .5em;
                margin-bottom: .5em;
                color: grey;
            }
        }
    }
}

